{% extends 'main/parts/base.html' %}
{% load static %}

{% block content %}
    <div class="container max-w-full flex mt-5 flex-wrap-reverse md:pt-8">
        <div class="container max-w-full flex-1 mt-0 md:mt-20 flex justify-center md:mx-2">
            <div class="md:flex md:justify-center ">
                <div class="container max-w-full ">
                    <div class="flex justify-center container md:mt-20 max-w-full">
                        <h1 class="text-xl md:text-3xl md:mt-0 mt-10 font-bold text-blue-700">Code together, build better.</h1>
                    </div>
                    <div class="flex min-w-80 md:min-w-96 justify-center w-80 md:w-96 md:mt-0 mt-2 container max-w-full">
                        <p class="w-80 md:w-96 mt-2 text-sm md:text-md">Find your perfect coding partner or team on Coder Collaboration Hub.</p> 
                    </div>

                    <div class="container max-w-full flex mt-8 justify-center md:justify-normal ">
                        <a href="{% url 'projects' %}"  class="bg-slate-950 mr-3 md:mr-5 py-2 px-4 text-sm md:text-base md:py-2 md:px-6 text-white rounded-md">Browse Projects</a>
                        {% if logined %}
                        {% else %}
                            <a href="#" onclick="show()" class="bg-slate-950 py-2 px-14 text-sm md:text-base md:py-2 md:px-14 text-white rounded-md">Sign In</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-1 min-w-80 md:min-w-96 md:h-full md:mt-0 mt-10 px-2">
            <div class="flex justify-center">
                <img class="h-full md:mr-14 w-10/12 min-w-80 md:w-full"  src="{% static 'img/team.png' %}" alt="">
            </div>
        </div>
    </div>

    {% block script %}
        <script>

        </script>
    {% endblock %}
{% endblock %}