{% extends 'main/views/projects.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block page_name %} <h1 class="font-bold text-xl">Profile</h1> {% endblock %}

{% block rightVar %}
    <div class="container w-96 h-72 rounded-xl hidden md:block bg-gray-100 shadow-md">
        <div class="flex flex-col">
            <div class="container max-w-full flex justify-center mt-7">
                <div class="w-28 h-28 rounded-full bg-white">
                    <img src="{% static 'img/justin.jpg' %}" class="w-28 h-28 rounded-full" alt="">
                </div>
            </div>
            <h1 class="text-center font-bold mt-2 text-lg">{{user.first_name}} {{user.last_name}}</h1>
        </div>
    </div>
{% endblock %}

{% block pagination %}
{% endblock %}